# Required

BREEZ_API_KEY=""
SUPABASE_PROJECT_ID_MAINNET=""
SUPABASE_API_KEY_MAINNET=""
SERVER_URL_MAINNET=""
SERVER_API_VERSION_MAINNET=""

# Optional
# LIQUID_SYNC_INTERVAL_MINUTES=1
# ENABLE_BOLT12_SEND=false
# ENABLE_BOLT12_RECEIVE=false

# BOLTZ_URL_MAINNET='https://api.boltz.exchange/v2'
# BOLTZ_FEE_CACHE_TIMEOUT_MS_MAINNET=120000
# BITCOIN_ESPLORA_URL_MAINNET='https://blockstream.info/api'
# BITCOIN_ELECTRUM_URL_MAINNET='ssl://blockstream.info:700'
# LIQUID_ESPLORA_URL_MAINNET='https://blockstream.info/liquid/api'
# LIQUID_ELECTRUM_URL_MAINNET='ssl://blockstream.info:995'

# SUPABASE_PROJECT_ID_REGTEST=""
# SUPABASE_API_KEY_REGTEST=""
# SERVER_URL_REGTEST=""
# SERVER_API_VERSION_REGTEST=""
# BOLTZ_URL_REGTEST=""
# BOLTZ_FEE_CACHE_TIMEOUT_MS_REGTEST=120000
# BITCOIN_ESPLORA_URL_REGTEST=""
# BITCOIN_ELECTRUM_URL_REGTEST=""
# LIQUID_ESPLORA_URL_REGTEST=""
# LIQUID_ELECTRUM_URL_REGTEST=""


# SUPABASE_PROJECT_ID_TESTNET=""
# SUPABASE_API_KEY_TESTNET=""
# SERVER_URL_TESTNET=""
# SERVER_API_VERSION_TESTNET=""
# BOLTZ_URL_TESTNET=""
# BOLTZ_FEE_CACHE_TIMEOUT_MS_TESTNET=120000
# BITCOIN_ESPLORA_URL_TESTNET=""
# BITCOIN_ELECTRUM_URL_TESTNET=""
# LIQUID_ESPLORA_URL_TESTNET=""
# LIQUID_ELECTRUM_URL_TESTNET=""